<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
  <All>
    <Ipv4 key="TargetIPv4"
			  value="10.121.48.146"
			  name="Target IPv4 Address"
			  description="The IPv4 address of the target machine or device. The IPv4 address can be found on Windows by running 'ipconfig' and looking for the 'IPv4 Address' field. For Linux run 'ifconfig' and look for 'inet addr' field. For OS X run 'ifconfig' and look for the 'inet' field." />

    <Range key="port"
			   value="9980"
			   min="0" max="65535"
			   name="Target Port"
			   description="The target or destination port the network packet is sent to."/>
               
    <!-- 
    state_fuzzing_hifi
    state_fuzzing_camera
    state_fuzzing_fb
    -->
    <Range key="fuzzing_model"
			   value="state_fuzzing_fb"
			   min="0" max="65535"
			   name="Target Port"
			   description="The target or destination port the network packet is sent to."/>
               
    <!-- 
    fuzzing_hifi_start
    fuzzing_hifi_update_buffer
    fuzzing_hifi_stop
    fuzzing_hifi_get_phy
    fuzzing_hifi_query_postion
    fuzzing_hifi_wake_up
    fuzzing_hifi_write_params
    fuzzing_hifi_dump_hifi
    fuzzing_hifi_dump_codec
    fuzzing_hifi_send_data
    -->          
              
    <Range key="fuzzing_hifi_function"
			   value="fuzzing_hifi_start"
			   min="0" max="65535"
			   name="Target Port"
			   description="The target or destination port the network packet is sent to."/>
               
    <!-- 
    fuzzing_fb_FBIOGET_FSCREENINFO
    fuzzing_fb_FBIOPUT_VSCREENINFO
    fuzzing_fb_FBIOGETCMAP
    fuzzing_fb_FBIOPUTCMAP
    fuzzing_fb_FBIOPAN_DISPLAY
    fuzzing_fb_FBIOBLANK
    -->          
              
    <Range key="fuzzing_fb_function"
			   value="fuzzing_fb_FBIOGET_FSCREENINFO"
			   min="0" max="65535"
			   name="Target Port"
			   description="The target or destination port the network packet is sent to."/>
               
    <!-- 
    每个模块有很多个函数，可以通过这个配置来决定只测试某个函数，还是所有函数都测试
    1==1  所有函数都测试
    1==0  只测试某个函数
    -->
    <Range key="Is_Fuzzing_every_function"
			   value="1==1"
			   min="0" max="65535"
			   name="Target Port"
			   description="The target or destination port the network packet is sent to."/> 
               

    <String key="LoggerPath"
				value="logs/l2tp_lns/"
				name="Logger Path"
				description="The directory where Peach will save the log produced when fuzzing." />

                
    <Strategy key="Strategy"
				  value="Random"
				  name="Mutation Strategy"
				  description="The mutation strategy to use when fuzzing." />
 
  </All>
</PitDefines>