choice
    prompt "Media Type"
    depends on HI_FORCE_ENV_TO_MEDIA

config FORCE_ENV_IN_NAND
    bool "Nand"
    help
        the bootargs is forced to be set to NAND flash

config FORCE_ENV_IN_SPI
    bool "SPI_Flash"
    help
        the bootargs is forced to be set to SPI flash

config FORCE_ENV_IN_EMMC
    bool "eMMC"
    help
        the bootargs is forced to be set to dMMC flash

endchoice
